Bug Reporter
-----------------------------------------

Kunde: {{customer}}
Datum: {{date_form}}
-----------------------------------------
Gemeldet von: {{name}}
- Email    : {{email}}
- Fon      : {{phone}}
-----------------------------------------
Module  : {{module}}
Art     : {{type}}
Priority: {{priority_desc}}
Due     : {{due}} / {{due_date}}
Feedback: {{feedback}}

-----------------------------------------
Subject: {{subject}}
-----------------------------------------

{{message}}


{{# reproduction }}
-----------------------------------------
Reproduction
-----------------------------------------

{{reproduction}}

{{/ reproduction }}

{{# feedback_text }}
-----------------------------------------
Feedback
-----------------------------------------

{{ feedback_text}}

{{/ feedback_text }}
-----------------------------------------
Thank you for using Bug Reporter,
a Sencha Ext JS package by Enovision GmbH
